body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-image: url('glitterdalens_vaggvisa.png'); /* Update this path if the image is in a different directory */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

h1 {
    margin: 0 0 20px;
    font-size: 3em; /* Adjust size as needed */
    text-shadow: 2px 2px 4px #000000;
}

a {
    color: #1DB954; /* Spotify green color */
    text-decoration: none;
    font-size: 1.5em; /* Adjust size as needed */
    text-shadow: 1px 1px 3px #000000;
}

a:hover {
    text-decoration: underline;
}
